<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.altekis.rpg.combatassistant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CharacterListActivity"
            android:label="@string/mainTitle" />
        <activity
            android:name=".CharacterActivity"
            android:label="@string/character_title" >
        </activity>
        <activity
            android:name=".CharacterEditActivity"
            android:label="@string/characterEdit_title" >
        </activity>
        <activity
            android:name=".AttackActivity"
            android:label="@string/attack_title" >
        </activity>
        <activity
            android:name=".AttackEditActivity"
            android:label="@string/attackEdit_title" >
        </activity>
        <activity
            android:name=".CriticalActivity"
            android:label="@string/critical_title" >
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>